<p>heroes-list works!</p>

<div class="card">

    <div class="card-header">
        <h1> heroes dragon ball </h1>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Filtrar Por:
            </div>
            
            <div class="col-md-4">
                <input [(ngModel)]="listFilter" type="text" class="form-control" placeholder="Ingresa el nombre de tu heroe">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h3>Filtro: {{listFilter}}</h3>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        @if (heroes.length > 0) {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> <button (click)="showImage()" class="btn btn-primary">{{muestraImagen ? 'Ocultar' : 'Mostrar'}} imagen</button></th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Raza</th>
                        <th>Ki</th>
                    </tr>
                </thead>
                <tbody>
                    @for (heroe of heroes | heroesFilter:listFilter; track heroe.nombre) {
                        <tr>
                            <td>
                                @if (muestraImagen) {
                                    <img [src]="heroe.imagen" [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
                                }
                            </td>
                            <td>{{heroe.nombre}}</td>
                            <td>{{heroe.descripcion}}</td>
                            <td>{{heroe.race}}</td>
                            <td>{{heroe.ki}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

</div>